@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F2F2F7;
  --fg: #0F0F10;
  --accent: #C8E635;
  --secondary: #8E8E93;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
